body {
    padding: 30px;
    background: white;
    overflow: hidden;
    color: white;
}

.page-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(300deg, black, #070707);
    border-radius: 20px;
    box-shadow: 8px 6px 17px 10px rgb(0 0 0 / 20%);
}

.auth-container {
    padding: 3rem;
}

.spotify-logo {
    width: 100%;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.landing-title {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2.5rem;
}

.landing-message {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
}

.auth-button {
    width: 100%;
    border-radius: 10px;
    background: white;
    color: black;
    border: 2px solid black;
    font-family: 'Poppins';
    font-weight: 600;
    padding: 20px;
    margin-top: 1rem;
    width: 100%;
    margin: auto;
    margin-top: 15px;
    font-size: 1.2rem;
    transition: all .5s;
    letter-spacing: 0px;
}

.auth-button:hover {
    letter-spacing: 1px;
}

.auth-button.disabled {
    opacity: 0.3;
    background: white !important;
    color: black !important;
    letter-spacing: 0px !important;
    user-select: none;
}

.page-select {
    display: block;
    padding: 1rem;
    background-color: black;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    width: 100%;
    margin: auto;
    outline: none;
}

.application-button {
    display: block;
    margin: auto;
    width: 100%;
    font-size: 15px;
    margin-top: 15px;
    padding: 15px;
}

.song-element {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 750px;
    background: white;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.4s ease;
}

.song-element.muted {
    opacity: 0.3;
}

.song-action-play {
    float: left;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='%23000000' d='M3 18.5v-17l14 8.5-14 8.5z' rx='2' ry='2' /%3e%3c/svg%3e");
    width: 1.5em;
    height: 1.5em;
    transition: all .3s;
    cursor: pointer;
    transform: scale(0.3);
    opacity: 0;
}

.song-element.playable:hover .song-action-play {
    transform: scale(1);
    opacity: 1;
}

.song-image {
    width: 55px;
    height: 55px;
    border-radius: 15px;
    float: left;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.15);
}

.label {
    color: white;
    font-size: 1.2rem;
    font-family: 'Poppins';
    font-weight: 600
}

.song-title {
    color: black;
    font-size: 1.3rem;
    float: left;
    margin-left: 1em;
    font-family: 'Poppins';
    font-weight: 600;
    margin-bottom: 0px;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .4s;
    letter-spacing: 0px;
}

.song-element.playable:hover .song-title {
    letter-spacing: 0.5px;
}

.song-subtitle {
    font-size: 0.8rem;
    color: grey;
    font-weight: 600;
}

.github-icon {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: white;
    float: right;
    position: absolute;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 25px 2px rgb(255 255 255 / 10%);
    transition: all 0.3s;
}

.github-icon-img {
    display: block;
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
}

.github-icon:hover {
    bottom: 53px;
    box-shadow: 0px 0px 25px 2px rgb(255 255 255 / 20%);
}

@media screen and (max-width: 540px) {
    body {
        padding: 15px;
    }

    .auth-container {
        padding: 3rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .song-title {
        font-size: 0.9rem;
        max-width: 75%;
    }

    .song-image {
        width: 45px;
        height: 45px;
    }

    .song-subtitle {
        font-size: 0.6rem;
    }

    .github-icon {
        display: none;
    }

    .container .spotify-logo {
        width: 50% !important;
    }

    .auth-button {
        font-size: 1rem;
    }

    .landing-title {
        font-size: 1.8rem;
    }

    .label {
        font-size: 1rem;
    }
}